@model CMS.WebUI.ViewModels.User.UserRegister
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4 mx-auto float-xs-none">
        <div class="card center-block">
            <div class="card-block">
                <div class="col-md-5 mx-auto float-xs-none">
                    <h3><i class="fa fa-sign-in"></i> Register: </h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.LabelFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
                    </div>

                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        @Html.TextBoxFor(m => m.CompleteName, new { @class = "form-control" })
                        @Html.LabelFor(m => m.CompleteName, null)
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.LabelFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.LabelFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.LabelFor(m => m.ConfirmPassword, null)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })

                    </div>

                    <br />

                    <div class="text-xs-center">
                        <button type="submit" class="btn btn-primary">Register</button><br />
                    </div>

                    @Html.ValidationMessage("LoginError", null, new { @class = "text-danger" })
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
